{#JOUEUR 2#}
    <div id="adversaire">
        {% for i in 11..1 %}
            <div class="adversairepile">
                {% for carte in terrainAdversaire[i]  %}
                    <div class="carte {{ tCartes[carte].couleurTexte }}"
                         data-pile="{{ i }}"
                         data-couleur="{{ tCartes[carte].couleur }}"
                         data-poid="{{ tCartes[carte].poid }}"
                         data-id="{{ carte }}"
                         data-position="{{ loop.index }}"
                         data-nb-cartes="{{ partie.terrainJ2[i]|length }}">
                        <img src="{{ asset('jeux/images/cartes/'~tCartes[carte].image) }}" alt="carte" class="imgcarte">
                     </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
        {#JOUEUR 1#}
    <div id="moncote">
        {% for i in 1..11 %}
            <div class="pile">
                {% for carte in terrainJoueur[i] %}
                    <div class="carte {{ tCartes[carte].couleurTexte }}">
                        <button class="deplacement {{ tCartes[carte].couleurTexte }}"
                                data-pile="{{ i }}"
                                data-id="{{ carte }}"
                                data-couleur="{{ tCartes[carte].couleur }}"
                                data-poid="{{ tCartes[carte].poid }}"
                                data-position="{{ loop.index }}"
                                data-nb-cartes="{{ partie.terrainJ1[i]|length }}"
                                style="display:none">-></button>
                         <img src="{{ asset('jeux/images/cartes/'~tCartes[carte].image) }}" alt="carte" class="imgcarte">

                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
