<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block tittle %}Gobelins{% endblock %}</title>
        <meta charset="utf-8" />
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" href="{{ asset('gestion/images/logo2.png') }}" />
        <link rel="shortcut icon" href="{{ asset('gestion/images/logo2.png') }}" />
    </head>

    <body style="margin-top:5%;margin-left:5%">

    {% if app.user %}
    <h1 style="font-size: 70px">Bienvenue {{ app.user.pseudo }}</h1>
    Nom : {{ app.user.nom }}&nbsp;&nbsp; / &nbsp;&nbsp;
    Prénom : {{ app.user.prenom }}&nbsp;&nbsp; / &nbsp;&nbsp;
    E-mail : {{ app.user.email }}&nbsp;&nbsp; / &nbsp;&nbsp;
    Date d'inscription: {{app.user.dateinscription|date("d/m/Y")}}<br><br>
    {% else %}
    <h1>Bienvenue à toi !</h1>
    {% endif %}
    <a href="{{ path('logout') }}">Deconnexion</a><br><br>
    {% block body %}{% endblock %}

    <div class="gifnews" style="display: flex;justify-content: space-around;text-align: center;">

        <div class="gauche">

            <h1>Create and View your Gif</h1>
<br><br>
            <div class="create_gif">
                {{ form_start(gifForm) }}

                    {{ form_row(gifForm.gif) }} <br>
                    {{ form_row(gifForm.author) }} <br>
                    {{ form_row(gifForm.description) }} <br>
                    {{ form_row(gifForm.submit) }}
                    
                {{ form_end(gifForm) }}
            </div>

            <div class="viewgif">

            </div>

        </div>

        <div class="droite">

            <h1>Create and View your News</h1>
<br><br>
            <div class="createnews">
                {{ form_start(newsForm) }}

                    {{ form_row(newsForm.title) }} <br>
                    {{ form_row(newsForm.content) }} <br>
                    {{ form_row(newsForm.submit) }}
                    
                {{ form_end(newsForm) }}
            </div>

            <div class="viewnews">

            </div>
        
        </div>

    </div>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>

