<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}GarOGnomes{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ asset('jeux/css/styles.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="apple-touch-icon" href="{{ asset('gestion/images/logo2.png') }}" />
        <link rel="shortcut icon" href="{{ asset('gestion/images/logo2.png') }}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar" style="background-color: #000">

            <img src="{{ asset('jeux/images/garognomes.png') }}" alt="logo" style="width: 20%;">

            <a href="{{ path('profilindex') }}" style="width: 5%; float: right"><img src="{{ asset('jeux/images/logout.png') }}" alt="logout" style="width: 60%; float: right;"></a>

        </nav>

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}

    </body>
</html>
